.mobileShow {display: none !important;}
.mobileShowInline {display: none !important;}
.tabletShow {display: none !important;}
.tabletShowInline {display: none !important;}

body {position: relative;max-width: 2460px;margin: 0 auto !important;}
body:before{content: "";position: absolute;top: 0;left: 0;display: block;width: 56px;height: 508px;background-color: #F5A419;box-sizing: border-box;}
body:after{content: "";position: absolute;bottom: 0;right: 0;display: block;width: 56px;height: 360px;background-color: #F5A419;box-sizing: border-box;}
.wrap {overflow-x: hidden;}
.wrap:before {content: "";position: absolute;top: 0;right: 0;display: block;width: 150px;height: 56px;background-color: #F5A419;box-sizing: border-box;}
.wrap:after {content: "";position: absolute;top: 0;right: 0;display: block;width: 56px;height: 360px;background-color: #F5A419;box-sizing: border-box;}
.inner {max-width: 1280px;margin: 0 auto;}
.inner:after {content: "";display: block;clear: both;}
#contents{min-height: 600px;}

header {position: relative;}
.logo {float: left;margin: 35px 0 46px;}
.headerMenu {float: right;}
.headerMenu .topMenu {margin-top: 19px;text-align: right;}
.headerMenu .topMenu a {font-size: 14px;color: #555;font-weight: 400;line-height: 18px;letter-spacing: -0.6px;}
.headerMenu .topMenu a + a:before {content: "";display: inline-block;width: 1px;height: 8px;margin-left: 14px;margin-right: 15px;background-color: #D9D9D9;vertical-align: middle;}
.headerMenu .topMenu a:hover, .headerMenu .topMenu a:focus {color: #F5A419;}
.headerMenu .topMenu a span {position: relative;}
.headerMenu .topMenu a span:before {content: "";display: block;position: absolute;bottom: -2px;left: 0;width: 100%;height: 1px;background-color: #F5A419;transform: scaleX(0);transform-origin: left center;transition: transform 300ms ease-in-out;}
.headerMenu .topMenu a:hover span:before, .headerMenu .topMenu a:focus span:before {transform: scaleX(1);}
.navWrap {display: flex;align-items: center;}
.nav {display: flex;align-items: center;padding: 0px 0 17px;margin-top: 26px;}
.nav:after {content: "";display: inline-block;width: 1px;height: 20px;margin-left: 29px;margin-right: 30px;background-color: #D9D9D9;vertical-align: middle;}
.nav > ul:after {content: "";display: block;clear: both;}
.nav > ul > li {float: left;display: flex;position: relative;justify-content: center;}
.nav > ul > li + li {margin-left: 58px;}
.nav > ul > li > a {display: block;font-size: 18px;color: #222;line-height: 26px;font-weight: 600;text-align: center;letter-spacing: -0.8px;transition: .2s;-webkit-transition: .2s;}
.nav > ul > li > a:hover, .nav > ul > li > a:focus {color: #F5A419;}
.nav > ul > li > ul {display: none;position: absolute;top: 44px;min-width: max-content;padding: 10px 20px;background: #fff;border: 1px solid #F5A419;border-radius: 10px;box-sizing: border-box;z-index: 10;}
.nav > ul > li > ul:before {content: "";position: absolute;width: 0;height: 0;left: calc(50% - 5px);top: -6px;border-bottom: 6px solid #f5a419;border-left: 5px solid transparent;border-right: 5px solid transparent;}
.nav > ul > li > ul > li {text-align: center;}
.nav > ul > li > ul > li > a {position: relative;font-size: 15px;color: #333;line-height: 36px;font-weight: 400;text-align: center;letter-spacing: -0.8px;}
.nav > ul > li > ul > li > a:before {content: "";display: block;position: absolute;bottom: -2px;left: 0;width: 100%;height: 1px;background-color: #F5A419;transform: scaleX(0);transform-origin: left center;transition: transform 300ms ease-in-out;}
.nav > ul > li > ul > li > a:hover, .nav > ul > li > ul > li > a:focus {color: #F5A419;font-weight: 500;}
.nav > ul > li > ul > li > a:hover:before, .nav > ul > li > ul > li > a:focus:before {transform: scaleX(1);}
.nav > ul > li.active > ul {display: block;}
.btnConsultation {margin-top: 9px;padding: 9px 30px;background: #F5A419;border-radius: 160px;font-weight: 700;font-size: 15px;color: #fff;line-height: 22px;letter-spacing: -0.6px;}
#btnGnbOpen {position: relative;width: 28px;height: 28px;margin-left: 20px;margin-top: 9px;}
#btnGnbOpen:before {content: "";position: absolute;left: 2px;top: 7px;display: block;width: 24px;height: 2px;background-color: #222;border-radius: 5px;}
#btnGnbOpen span {display: block;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
#btnGnbOpen span:before {content: "";position: absolute;left: 2px;top: 13px;display: block;width: 24px;height: 2px;background-color: #222;border-radius: 5px;}
#btnGnbOpen span:after {content: "";position: absolute;left: 2px;top: 19px;display: block;width: 24px;height: 2px;background-color: #222;border-radius: 5px;}

#gnb {/* display: none; */position: fixed;top: 0;left: 0;right: 0;bottom: 0;height: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-overflow-scrolling: touch;z-index: 99999;opacity: 0;visibility: hidden;overflow-y: auto;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-transition-property: opacity, visibility;transition-property: opacity, visibility;-webkit-transition-delay: 100ms;transition-delay: 100ms;}
#gnb .gnbInner{position: fixed;top: 0;right: 0;bottom: 0;background: #fff;width: 330px;box-sizing: border-box;z-index: 999;transform: translateX(330px);-webkit-transform: translateX(330px);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;-webkit-overflow-scrolling: touch;opacity: 1;}
#gnb.active {opacity: 1;visibility: visible;-webkit-transition-delay: 0s;transition-delay: 0s;}
#gnb.active .gnbInner{transform: translateX(0);-webkit-transform: translateX(0);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}

.userInfo{padding: 49px 20px 40px;text-align: center;}
.userInfo .userEmoji{display: flex;width: 100px;height: 100px;margin: 0 auto 20px;background: #fff;border: 1px solid #eee;border-radius: 100%;box-sizing: border-box;align-items: center;justify-content: center;overflow: hidden;}
.userInfo p{margin-bottom: 25px;font-weight: 400;font-size: 17px;line-height: 26px;text-align: center;letter-spacing: -0.8px;color: #333;}
.userInfo p span{border-bottom: 1px solid #F5A419;color: #F5A419;font-weight: 600;}
.userInfo button{display: block;width: 100%;height: 40px;border-radius: 10px;font-size: 13px;color: #fff;font-weight: 500;line-height: 19px;letter-spacing: -0.6px;}
.userInfo button + button{margin-top: 5px;} 
.userInfo .btnLogin{background: #F5A419;border: 1px solid #F5A419;}
.userInfo .btnLogout{background: #242424;border: 1px solid #242424;}
.userInfo .btnMypage{background: #fff;border: 1px solid #242424;color: #242424;}
#gnb .gnbInner > ul{height: calc(100% - 376px);overflow-y: auto;border-top: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;}
#gnb .gnbInner > ul > li > a{position: relative;display: block;width: 100%;height: 60px;line-height: 60px;padding: 0 32px 0 20px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;font-size: 18px;color: #222;font-weight: 600;letter-spacing: -0.8px;transition: .3s;-webkit-transition: .3s;}
#gnb .gnbInner > ul > li > a:before, #gnb .gnbInner > ul > li > a:after{transition-duration: 0.3s;-webkit-transition-duration: 0.3s;}
#gnb .gnbInner > ul > li > a:before{content: "";display: block;position: absolute;top: 50%;right: 22px;width: 9px;height: 1px;margin-top: -5px;background-color: #222;transform: rotate(225deg);-webkit-transform: rotate(225deg);}
#gnb .gnbInner > ul > li > a:after{content: "";display: block;position: absolute;top: 50%;right: 26px;width: 1px;height: 9px;margin-top: -3px;background-color: #222;box-sizing: border-box;transform: rotate(225deg);-webkit-transform: rotate(225deg);}
#gnb .gnbInner > ul > li.on > a{color: #F5A419;}
#gnb .gnbInner > ul > li.on > a:before, #gnb .gnbInner > ul > li.on > a:after{background-color: #F5A419;}
#gnb .gnbInner > ul > li.ulHas > a:before{margin-top: 0;right: 26px;}
#gnb .gnbInner > ul > li.ulHas > a:after{margin-top: -4px;right: 24px;}
#gnb .gnbInner > ul > li.ulHas.on > a:before{transform: rotate(315deg);-webkit-transform: rotate(315deg);}
#gnb .gnbInner > ul > li.ulHas.on > a:after{transform: rotate(135deg);-webkit-transform: rotate(135deg);}
#gnb .gnbInner > ul > li > ul{display: none;padding: 20px 20px;border-bottom: 1px solid rgba(0, 0, 0, 0.1);box-sizing: border-box;}
#gnb .gnbInner > ul > li > ul > li + li{margin-top: 10px;}
#gnb .gnbInner > ul > li > ul > li > a{position: relative;padding-left: 10px;font-weight: 400;font-size: 15px;letter-spacing: -0.8px;color: #666;transition: .3s;-webkit-transition: .3s;}
#gnb .gnbInner > ul > li > ul > li > a:hover, #gnb .gnbInner > ul > li > ul > li > a:focus{color: #F5A419;}
#gnb .gnbInner > ul > li > ul > li > a:before{content: "";position: absolute;left: 0;top: 8px;display: block;width: 2px;height: 2px;background-color: #666;vertical-align: middle;}
#gnb .gnbInner > ul > li > ul > li > a:hover:before, #gnb .gnbInner > ul > li > ul > li > a:focus:before{background-color: #F5A419;}   
.gnbBottom{position: absolute;bottom: 0;left: 0;right: 0;background: #F1F1F1;border-top: 1px solid #DFDFDF;box-sizing: border-box;display: flex;align-items: center;justify-content: space-around;height: 50px;}
.gnbBottom a{position: relative;font-weight: 600;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: -0.6px;color: #555555;}
.gnbBottom a + a:before{content: "";position: absolute;left: -24px;top: 6px;display: block;width: 1px;height: 8px;background-color: #B8B8B8;vertical-align: middle;}
#btnGnbclose {position: absolute;top: 31px;left: -40px;width: 30px;height: 30px;transform: rotate(45deg);overflow: hidden;text-indent: -9999px;white-space: nowrap;}
#btnGnbclose:before{content: "";position: absolute;left: 14px;top: 0px;display: block;width: 2px;height: 30px;background-color: #fff;border-radius: 5px;}
#btnGnbclose:after{content: "";position: absolute;left: 0px;top: 14px;display: block;width: 30px;height: 2px;background-color: #fff;border-radius: 5px;}

footer{padding: 37px 20px 34px;text-align: center;box-sizing: border-box;}
.footerMenu{display: flex;margin-bottom: 13px;justify-content: center;}
.footerMenu li + li:before{content: "";display: inline-block;width: 1px;height: 10px;margin: 0 15px;background: #A8A9A9;vertical-align: middle;}
.footerMenu li a{position: relative;font-size: 14px;color: #222;font-weight: 500;line-height: 1.4;letter-spacing: -1px;}
.footerMenu li a span:before {content: "";display: block;position: absolute;bottom: -1px;left: 0;width: 100%;height: 1px;background-color: #222;transform: scaleX(0);transform-origin: left center;transition: transform 300ms ease-in-out;}
.footerMenu li a:hover span:before, .footerMenu li a:focus span:before {transform: scaleX(1);}
.footerAddr{margin-bottom: 3px;font-size: 14px;color: #777;font-weight: 400;line-height: 140%;letter-spacing: -1px;word-break: keep-all;}
.footerCopy{font-size: 12px;color: #9A9A9A;font-weight: 400;line-height: 1.4;letter-spacing: -1px;}
.footerCopy span{color: #F5A419;font-weight: 600;}

@media screen and (max-width: 1600px){
    body:before, body:after, .wrap:before, .wrap::after{display: none;}
}
@media screen and (max-width: 1340px){
    header{padding: 0 26px;}
}
@media screen and (max-width: 1024px){
    .tabletShow {display: block !important;}
	.tabletShowInline {display: inline-block !important;}
    .tabletHide{display: none !important;}

    .logo{margin: 35px 0 36px;}
    .headerMenu .topMenu{margin-top: 26px;}
    .navWrap{justify-content: flex-end;align-items: flex-start;}
    .nav{display: none;}
    .btnConsultation{margin-top: 24px;}
    #btnGnbOpen{margin-top: 30px;}

    footer{padding: 35px 20px 37px;}
    
}
@media screen and (max-width: 767px){
    .mobileShow {display: block !important;}
	.mobileShowInline {display: inline-block !important;}
    .mobileHide{display: none !important;}
    #contents{min-height: auto;}

    header{padding: 0 20px;}
    .logo{margin: 21px 0;width: 150px;}
    .headerMenu .topMenu{display: none;}
    .btnConsultation{padding: 9px 24px 8px;margin-top: 22px;font-size: 13px;color: #fff;line-height: 19px;}
    #btnGnbOpen{margin-top: 26px;}

    footer{padding: 27px 20px 26px;}
    .footerMenu{margin-bottom: 8px;}
    .footerAddr{margin-bottom: 5px;font-size: 13px;}
    .footerCopy{font-size: 11px;}
}
@media screen and (max-width: 375px){
    .logo{width: 130px;}
    #gnb .gnbInner{width: calc(100% - 50px);}
    #btnGnbOpen{margin-left: 10px;}
}
